.forgetpassword-page{
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	overflow: auto;
	min-height: 100%;

	.content{
		padding-top: 10px;
		position: relative;
		text-align: center;
		min-height: 100%;
		padding-bottom: 60px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.logo{
			width: 100%;
			text-align: center;
			img{
				width: 50%;
				max-width: 360px;
			}
		}

		h1{
			font-family: DroidKufi;
			font-size: 2.8em;
			font-weight: bold;
			color: white;
		}

		input{
			border-bottom: 1px solid rgba(255,255,255,0.4) !important;
		}

		.images-filed{
			display: flex;
			justify-content: center;
			overflow: visible;
			margin: 1em 5px;
			button{
				width: 50px;
				height: 50px;
				margin: 0 30px;
				background-color: transparent;
				border: 0;
				outline: 0;
				transform-origin: center center;
				transition: 0.3s;
				img{
					width: 100%;
					height: 100%;
				}
				&.active{
					transform: scale(1.6);
				}
			}
		}

		.button{
			color: #dedad7;
			margin: 30px auto;
			border: 0;
			padding: 10px 30px;
			border-radius: 15px;
			font-size: 1.2em;
			font-weight: bold;
			color: $color1;
			background-color: white;
			font-family: DroidKufi;
		}

		.my-input-field{
			width: 80%;
			max-width: 400px;
			&.tel-aspect, &.email-aspect{
				display: none;
			}
			&.active{
				display: block;
			}
		}

		.data-aspect{
			width: 80%;
			max-width: 400px;
			color: white;
			font-weight: bold;
			font-size: 1.1em;
		}

		label{
			text-align: right;
			color: white !important;
		}

		.data-aspect{
			display: none;
			&.active{
				display: block;
			}
		}
	}
}