$color1 : #db5927;
$color2 : #366634;
$color3 : #356732;

body{
    direction: rtl;
    background-color: #dedad7;
    p{
        font-family: bader;
    }
}

.inner-pages-holder{
	position: relative;
}