$color1 : #db5927;
$color2 : #366634;
$color3 : #356732;

body{
    direction: rtl;
    background-color: #dedad7;
    p{
        font-family: bader;
    }
}

.innerpage{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.inner-pages-holder{
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    position: relative;
}