$color1 : #db5927;
$color2 : #366634;
$color3 : #356732;

body{
    direction: rtl;
    background-color: #dedad7;
    p, button, a, select{
        font-family: DroidKufi;
    }
}

*{
    box-sizing: border-box;
}

.innerpage{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.inner-pages-holder{
    position: relative;
    flex-grow: 1;
    overflow-x: hidden;
}

.inner-pages-wrapper{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
}

::-webkit-scrollbar {
    display: none;
}

.dropdown-content{
    padding: 0;
}

.bg-image, .bg-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.bg-image{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-overlay{
    background-color: rgba($color1, 0.9);
    overflow: auto;
}