div.item-detail {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: auto;
    .items-Product{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        .item{
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .content1{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                line-height: 40px;
                margin-top: 10px;
                p{
                    font-size: 23px;
                    margin: 0;
                    font-weight: bold;
                    color: $color1;
                    padding-right: 10px;
                    font-family: DroidKufi;
                    &.sc{
                        font-size: 20px;
                        font-weight: normal;
                        color: #646464;
                    }
                }
            }
            .a5tyar{
                width: 97%;
                height: 450px;
                margin: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                overflow: hidden;
                position: relative;
                @media only screen and (max-width: 768px){
                    width: 300px;
                    height: 290px;
                }
                .right-data {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    .up-data {
                        z-index: 1;
                        background-color: #ffff01;
                        width: 350px;
                        position: absolute;
                        height: 300px;
                        transform: rotate(40deg) translateY(-100%);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .content {
                            width: 100%;
                            height: 100%;
                            transform: rotate(-40deg) translateY(0%) translateX(-7%);
                            display: flex;
                            align-items: flex-end;
                            direction: ltr;
                            p {
                                margin-right: 52px !important;
                                font-size: 3em;
                                font-weight: bold;
                                width: 100%;
                                text-align: center;
                                margin: 0;
                                color: $color3;
                                font-family: bader;
                            }
                        }
                    }
                    .down-data {
                        width: 100%;
                        height: 100%;
                        >div{
                            width: 100%;
                            height: 100%;
                        }
                        .img{
                            // background-size: contain;
                            // background-size: 100% 100%;
                            background-size: cover;
                            height: calc(100% - 40px);
                            // width: calc(100% - 40px);
                            background-repeat: no-repeat;
                            background-position: center center;
                        }
                    }
                }
            }
            .content2{
                width: 100%;
                height: 65px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                line-height: 40px;
                .one{
                    width: 80%;
                    p{
                        font-size: 25px;
                        margin: 0;
                        font-weight: bold;
                        padding-right: 35px;
                        &.fir{
                            color: $color3;
                        }
                        &.sc{
                            font-size: 25px;
                            font-weight: normal;
                            color: $color1;
                            text-decoration: line-through;
                            color: $color1;
                        }
                    }
                }
                .two{
                    width: 20%;
                    height: 13vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    >button{
                        border: 0;
                        background-color: transparent;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        img{
                            width: 30px;
                        }
                    }
                }
            }
            .content3{
                margin-bottom: 45px;
                padding-right: 10px;
                padding-left: 10px;
                p{
                    font-size: 18px;
                }
            }
        }
    }
    .button{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        // border-radius: 5px;
        overflow: hidden;
        .content-container{
            width: 80%;
            height: 100%;
            position: relative;
            &.open{
                .content{
                    &.closed{
                        z-index: 0;
                        opacity: 0;
                    }
                    &.opened{
                        z-index: 1;
                        opacity: 1;
                    }
                }
            }
            .content{
                position: absolute;
                transition: 0.5s linear;
                left: 0;
                top: 0;
                width: 100%;
                background-color: $color3;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .img{
                    width: 20%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        margin: 0 10px;
                        height: 60%;
                    }
                }
                .data-fov{
                    width: 80%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        font-size: 30px;
                        color: white;
                        margin: 0;
                    }
                }

                &.closed{
                    z-index: 1;
                    opacity: 1;
                    display: flex;
                    justify-content: flex-start;
                    background-color: $color3;
                    .img{
                        width: 20%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            margin: 0 10px;
                            height: 60%;
                        }
                    }
                    .data-fov{
                        width: 80%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p {
                            font-size: 21px;
                            color: white;
                            margin: 0;
                        }
                    }
                }

                &.opened {
                    z-index: 0;
                    opacity: 0;
                    background-color: #dedad7;
                    justify-content: space-around;
                    .border1 {
                        overflow: hidden;
                        width: 50px;
                        background-color: $color2;
                        height: 50px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        button {
                            width: 100%;
                            height: 100%;
                            border: 0;
                            font-size: 25px;
                            font-weight: bold;
                            line-height: 1em;
                            color: white;
                            font-family: DroidKufi;
                            margin: 0;
                            padding: 0;
                            background-color: transparent;
                            &:focus {
                                outline: none;
                                background-color: transparent;
                            }
                        }
                    }
                    .border2 {
                        border: 2px solid $color1;
                        padding: 0 10px;
                        height: 50px;
                        min-width: 50px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p {
                            font-size: 25px;
                            font-weight: bold;
                            color: $color1;
                            font-family: DroidKufi;
                            margin: 0;
                            padding: 0;
                        }
                    }
                    .border3 {
                        overflow: hidden;
                        width: 50px;
                        background-color: $color2;
                        height: 50px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        button {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 0;
                            font-size: 1.9em;
                            line-height: 1em;
                            color: white;
                            font-family: cursive;
                            margin: 0;
                            padding: 0;
                            background-color: transparent;
                            &:focus {
                                outline: none;
                                background-color: transparent;
                            }
                        }
                    }
                    .border4 {
                        width: 50px;
                        border: 2px solid #fe0000;
                        height: 50px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        button{
                            background-color: #f4f4f4;
                            border: 0;
                            padding: 0;
                            height: 100%;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        img {
                            width: 80%;
                            height: 80%;
                        }
                    }
                }


            }

        }
        .hart{
            width: 20%;
            border-right: 2px solid #dedad7;
            background-color: $color3;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 60%;
                height: 100%;
            }
        }
    }
}


.carousel.carousel-slider{
    direction: ltr;
    overflow: visible;
    height: 100%;
    .slide{
        background: transparent;
    }
    .control-dots {
        .dot{
            background: #3b3838;
        }
    }
    .slider-wrapper{
        height: 100%;
        >ul{
            height: 100%;
            >li{
                height: 100%;
            }
        }
    }
}
