.login-rigister{
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    overflow: auto;
    min-height: 100%;
    .bg-image, .bg-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .bg-image{
        background-image: url(../images/bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .bg-overlay{
        background-color: rgba($color1, 0.9);
    }

    .content{
        padding-top: 15px;
        position: relative;
        .logo{
            text-align: center;
            img{
                width: 80%;
                max-width: 360px;
            }
        }
        form{
            text-align: center;
            color: white;
            width: 80%;
            margin: 0 auto;
            .my-input-field{
                text-align: right;
            }
            label, input{
                color: white !important;
            }
            input{
                border-bottom: 1px solid rgba(255,255,255, 0.4) !important;
            }

            button{
                width: 80%;
                max-width: 360px;
                background-color: #FFF;
                border: 0;
                padding: 10px 0;
                font-size: 1.4em;
                color: $color1;
                border-radius: 10px;
                font-weight: bold;
            }
        }
    }
}