nav{
    background-color: $color1;
    padding: 0;
    .button-collapse{
        display: block !important;
        margin: 0;
    }
    .nav-wrapper{
        display: flex;
        flex-direction: row-reverse;
    }
    ul{
        height: 100%;
        margin: 0;
        &.upper-right{
            display: flex;
            flex-grow: 1;
        }
        &.upper-left{
            padding: 0;
            display: flex;
            .label-icon{
                transform: translate(0);
                left: 0;
            }
            li{
                &:first-child{
                    margin-right: 15px;
                    padding-left: 10px;
                }
                .input-field{
                    display: flex;
                    >.material-icons{
                        right: 0;
                    }
                }
                input#search{
                    width: 100%;
                    padding: 0 25px;
                    display: inline-block;
                    margin: 0;
                    &:focus{
                        border: 0;
                        outline: 0;
                        box-shadow: 0 0 0 transparent;
                    }
                }
            }
        }
        li.cart{
            position: relative;
            height: 100%;
            .badge{
                position: absolute;
                top: 8%;
                right: 0;
                width: auto;
                min-width: auto;
                padding: 5px 10px;
                border-radius: 25px;
                background-color: $color2;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                color: white;
                font-weight: bold;
                font-size: 0.6rem;
            }
            a{
                height: 100%;
                display: inline-flex;
                align-items: center;
                img{
                    height: 22px;
                }
            }
        }
        &.side-nav{
            // width: 90%;
            padding: 0;
        }
        .header-data{
            width: 100%;
            background-color: #db5927;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px;
            .circl{
                width: 85px;
                height: 85px;
                border: 6px solid #ffa280 ;
                border-radius: 50%;
                padding: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                margin-left: 5px;
                background-color: #56463c;
                img{
                    width: 100%;
                    height: 140%;
                }
            }
            p{
                margin: 0;
                font-size: 8px;
                font-family: DroidKufi;
            }
            button{
                background-color: rgba(0, 0, 0, 0);
                font-size: 10px;
                padding: 5px;
                border: 0;
                font-family: DroidKufi;
            }
        }
        .menu-data{
            cursor: pointer;
            padding: 0 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            img{
                width: 100px;
                min-width: 100px;
                height: 100px;
                min-height: 100px;
            }
            p{
                line-height: 1.2em;
                flex-grow: 1;
                font-size: 27px;
                margin: 0;
                text-align: center;
                word-spacing: 100vw;
            }
            &:nth-child(n){
                background-color: #97ce68;
                p{
                    color: #d95a27;
                }
            }
            &:nth-child(2n){
                background-color: #97ce68;
                p{
                    color: #d95a27;
                }
            }
            &:nth-child(3n){
                background-color: #ff6766;
                p{
                    color: #2c243c;
                }
            }
            &:nth-child(4n){
                background-color: #fff057;
                p{
                    color: #617f27;
                }
            }
            &:nth-child(5n){
                background-color: #6bcbca;
                p{
                    color: #006999;
                }
            }
        }

        .items{
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #DADADA;
            &:last-child{
                border-bottom: 0px;
            }
            p{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 80%;
                height: 100%;
                margin-right: 15px;
                color: black;
                font-size: 17px;
            }
            img{
                width: 20%;
                height: 75%;
                padding-top: 2px;
                padding-bottom: 2px;
            }
        }


    }
}

#sidenav-overlay{
    z-index: 990;
}

.nav-right{
    padding: 0;
}

// .drag-target{
//     display: none;
// }

.navbar-fixed {
    z-index: 999;
    min-height: 56px;
    @media only screen and (min-width: 601px){
        min-height: 64px;
    }
}

