nav{
    background-color: $color1;
    padding: 0;
    .button-collapse{
        margin: 0;
    }
    ul{
        margin: 0;
        &.side-nav{
            width: 90%;
            padding: 0;
        }
        .header-data{
            width: 100%;
            height: 125px;
            background-color: #db5927;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-right: 20px;
            .circl{
                width: 85px;
                height: 85px;
                border: 6px solid #ffa280 ;
                border-radius: 50%;
                padding: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            p{
                font-size: 25px;
                margin-right: 15px;
            }
        }
        .menu-data{
            width: 100%;
            height: 21vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            img{
                width: 50%; 
                height: 95%;
            }
            p{
                width: 50%;
                font-size: 50px;
                line-height: 40px;
                padding: 20px;
                text-align: center;
            }
            &.first-data{
                background-color: #97ce68;
                p{
                    color: #d95a27;
                }
            }
            &.sc-data{
                background-color: #ff6766;
                p{
                    color: #2c243c;
                }
            }
            &.thr-data{
                background-color: #fff057;
                p{
                    color: #617f27;
                }
            }
            &.for-data{
                background-color: #6bcbca;
                p{
                    color: #006999;
                }
            }
        }
    }
}

#sidenav-overlay{
    z-index: 990;
}

.nav-right{
    padding: 0;
}
