.register-page{
    // padding-top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    .location-map{
        height: 230px;
        .map{
            height: 180px;
        }
        button{
            color: #dedad7;
            width: 100%;
            border: 0;
            font-size: 1.5em;
            font-weight: bold;
            background-color: $color2;
            height: 50px;
        }
    }
    form{
        width: 85%;
        margin: 0 auto;
    }
}