.register-page{
    // padding-top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    .location-map, .user-pic{
        height: 230px;
        .map, .user{
            height: calc(100% - 50px);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ebebeb;
            img{
                height: 80%;
            }
        }
        .button{
            color: #dedad7;
            width: 100%;
            border: 0;
            font-size: 1.5em;
            font-weight: bold;
            background-color: $color2;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: DroidKufi;
        }
    }

    form{
        width: 90%;
        margin: 0 auto;
    }

    input{
        color: #686868;
    }

    .btn{
        border-radius: 15px;
        margin-bottom: 1.5em;
        background-color: $color1;
        &.one{
            background-color: $color2;
        }
    }

    .fa{
        color: #686868;
    }

    label.radio{
        i{
            color: $color2;
            font-size: 24px;
        }
    }

    label[for="filled-in-box"]{
        padding: 0 1.8em 0 0 !important;
    }

    [type="checkbox"].filled-in+label:before, [type="checkbox"].filled-in+label:after{
        left: auto;
        right: 0;
    }

    [type="checkbox"].filled-in:checked+label:before{
        left: auto;
        right: 10px;
    }

    [type="checkbox"].filled-in:checked+label:after{
        border: 2px solid $color2;
        background-color: $color2;
    }

    [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
        background-color: $color1;
    }

    [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
        border: 2px solid $color1;
    }

    [type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after{
        border: 2px solid $color1;
    }

    .dots{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        &.two{
            flex-direction: row;
        }
        .dot{
            width: 30px;
            margin: 0 5px;
            height: 30px;
            border-radius: 50%;
            background-color: #999999;
            &:nth-child(2){
                background-color: #4a4a4a;
            }
        }
    }

    .finish-page{
        height: 100vh;
        width: 100vw;
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.7);
        z-index: 9999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;

        h1, h2, h3{
            font-family: DroidKufi;
            font-weight: bold;
        }

        h1{
            font-size: 3em;
        }

        h3{
            font-size: 2em;
            color: $color1;
        }

        h2{
            font-size: 2em;
        }

        img{
            max-width: 250px;
            width: 50%;
        }
    }

    &.finish{

        .finish-page{
            display: flex;
        }

        .location-map, form{
            filter: blur(2px);
        }

    }

}