body {
    background-color: #db5927;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    @keyframes pattern{
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    @keyframes logo{
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .patternsplash{
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .patternn{
            width: 75%;
            z-index: 2;
            max-height: 80%;
            transform-origin: center center;
            animation: pattern 1s ease;
        }
        .logo{
            opacity: 0;
            width: 50%;
            max-height: 25%;
            z-index: 4;
            animation: logo 3s ease 1s forwards;
            position: absolute;
            transform-origin: center center;
        }
    }
}