.supermarkting{
    .logosupermarkting{
        width: 100%;
        height: 125px;
        border-bottom: 2px solid white;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .itemsupermarkting{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 15px;
        .item-super{
            width: 98%;
            height: 180px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: white;
            margin-bottom: 10px;
            position: relative;
            .top-img{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .bottom-super{
                min-width: 150px;
                height: 45px;
                position: absolute;
                bottom: 0;
                right: 0;
                border-top-left-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(219, 89, 39, 0.82);
                p{
                    color: white;
                    font-size: 25px;
                }
            }
        }
    }


    .items-supermarkting{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .item-supermarkting{
            width: 48%;
            height: 160px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: white;
            margin-bottom: 10px;
            .top-img{
                width: 100%;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .bottom-supermarkting{
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color2;
                p{
                    color: white;
                    font-size: 20px;
                }
            }
        }
    }
}